@import './partials/variables';
@import './partials/font/font';
@import './partials/mixins';
@import './partials/main-header';
@import './partials/menu-header';
@import './partials/main-slider';
@import './partials/box-slider';

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Montserrast', sans-serif;
}

/* Body */
html{
    background-color: $html-background-color;
}

.container{
    margin: 0 auto;
    width: 1080px;
    background-color: $background-color;
}