
.container-wide{
    width: 100%;
    background-color: $main-color;
}

/* Main-header */
.main-header .container{
    @include flex-b;
    padding: 20px 30px;
    background-color: $main-color;
    div{
        font-size: 32px;
        color : $background-color;
        @include cursor;
    }

    ul{
        @include flex-b;
        gap: 20px;
        li {
            @include cursor;
            font-size: $font-size-header;
            color : $background-color;
        }
    }
}